name: Distribute to PyPI

on:
  workflow_dispatch:
  push:
    tags:
      - v*

jobs:
  call-version-info-workflow:
    uses: ASFHyP3/actions/.github/workflows/reusable-version-info.yml@v0.11.2

  distribute:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: environment.yml

      - name: Build distribution
        id: build
        run: |
          python -m build

      - name: upload to PyPI.org
        uses: pypa/gh-action-pypi-publish@v1.10.3
        with:
          user: __token__
          password: ${{ secrets.TOOLS_PYPI_PAK }}

  verify-distribution:
    runs-on: ubuntu-latest
    needs:
      - call-version-info-workflow
      - distribute
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v4

      - uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: environment.yml

      - name: Ensure hyp3lib v${{ needs.call-version-info-workflow.outputs.version }}} is pip installable
        run: |
          python -m pip install hyp3lib==${{ needs.call-version-info-workflow.outputs.version_tag }}

