name: Test

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop

jobs:
  call-pytest-workflow:
    # Docs: https://github.com/ASFHyP3/actions
    uses: ASFHyP3/actions/.github/workflows/reusable-pytest.yml@v0.11.2
    with:
      local_package_name: hyp3lib
      python_versions: >-
        ["3.10", "3.11", "3.12", "3.13"]
